mixin head(title)
    head
        meta(charset='utf-8')
        title=title
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
        <![endif]-->
        meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        <!-- CSS only -->
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

